.ensayo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.ensayo p {
  font-size: 1.3rem;
}

.p_image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.p_image_left {
  flex-direction: row-reverse;
}


.p_image img {
  width: 500px;
  object-fit: cover;
}

.video {
  display: flex;
  flex-direction: row;
  justify-content: center;
}